<%= form_for(rule) do |f| %>
  <% if rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
      <% rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :limit_m %>
    <%= f.text_field :limit_m %>
  </div>

  <div class="field">
    <%= f.label :required_level %>
    <%= f.text_field :required_level %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
