<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rule.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rule.description %>
</p>

<p>
  <strong>Limit m:</strong>
  <%= @rule.limit_m %>
</p>

<p>
  <strong>Required level:</strong>
  <%= @rule.required_level %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
